name: CI
on:
  pull_request:
  push:
  schedule:
  - cron: '0 20 * * 5'
jobs:
  test:
    timeout-minutes: 30
    strategy:
      fail-fast: false
      matrix:
        java:
          - 8
          - 11
        os:
          - ubuntu-latest
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-java@3f07048e3d294f56e9b90ac5ea2c6f74e9ad0f98 # v3.10.0
      with:
        java-version: ${{matrix.java}}
        distribution: temurin
    - uses: coursier/cache-action@v6
    - shell: bash
      run: sbt -v
           "+ scalafmtCheckAll"
           scalafmtSbtCheck
           "+ test"
    - uses: mikepenz/action-junit-report@4fa23552acda20a6a1d44f16224a90efbeb6c5f1 # v3.7.5
      if: always()
      with:
        report_paths: '**/target/test-reports/*.xml'
        require_tests: true
        check_name: "${{ matrix.java }}"
