name: CI
on:
  pull_request:
  push:
  schedule:
  - cron: '0 20 * * 5'
jobs:
  test:
    timeout-minutes: 30
    strategy:
      fail-fast: false
      matrix:
        java:
          - 8
          - 25
        os:
          - ubuntu-latest
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v5
    - uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5.0.0
      with:
        java-version: ${{matrix.java}}
        distribution: zulu
    - uses: sbt/setup-sbt@v1
    - uses: coursier/cache-action@v7
    - shell: bash
      run: sbt -v
           "+ scalafmtCheckAll"
           scalafmtSbtCheck
           "+ test"
    - uses: mikepenz/action-junit-report@e08919a3b1fb83a78393dfb775a9c37f17d8eea6 # v6.0.1
      if: always()
      with:
        report_paths: '**/target/test-reports/*.xml'
        require_tests: true
        check_name: "${{ matrix.java }}"
